*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Open Sans,Poppins,sans-serif;
  background: ghostwhite;
  color: #161616;
}

a {
  cursor: pointer;
  color: #C84B31;
}

a:hover {
  color: #31c898;
}

a.headerLink {
  margin-top: 4px;
  color: #ECDBBA;
}

a.headerLink:hover {
  color: #e3baec;
}

select {
  width: 320px;
  padding: 0;
  margin: 16px 0;
  height: 40px;
  border-radius: 16px;
  padding-left: 16px;
}

button,
a.button {
  cursor: pointer;
  margin: 16px;
  padding: 4px 8px;
  width: 168px;
  border: 0;
  border-radius: 8px;
  height: 40px;
  background-color: transparent;
  color: #C84B31;
}

button:hover {
  background-color: #C84B31;
  color: whitesmoke;
}

button:disabled {
}

h1 a,
h2 a {
 cursor: pointer;
 text-decoration: underline;
 color: grey;
 font-size: 18px;
 padding-left: 8px;
}

#root {
  width: auto;
}

.mainContent {
  margin: 0px 160px;
}

.navigationBar {
  display: flex;
  padding: 8px 0;
  /* margin-bottom: 16px; */
  border: 0;
  border-bottom: 8px;
  border-color: #346751;
  border-style: solid;
  font-size: 1.25em;
  justify-content: space-between;
}

.navigationBar > :first-child{
  margin-top: 8px;
  margin-left: 160px;
}

.navigationBar > div:last-child {
  margin-right: 48px;
}

.navigationBar button.menuButton {
  cursor: pointer;
  margin: 0;
  width: auto;
  height: auto;
  border: 0;
  font-size: 1.25em;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 56px;
}

.menu {
  margin-bottom: 8px;
  border: 0;
  border-left: 2px;
  border-right: 2px;
  border-style: solid;
  border-color: #161616;
  text-align: center;
  background-color: grey;
  color: whitesmoke;
  width: 800px;
}

.menu > :not(:first-child) {
  padding: 8px 0;
}

.menuItem {
  border: 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: #161616;
  padding: 8px 20px;
  text-decoration: none;
  cursor: pointer;
}

.menuItem:hover {
  background-color: #31c898;
}

.cardCarrier{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 0 8px 16px 8px;
	padding: 0;
	border: solid;
	border-color: #161616;
	border-radius: 8px;
  border-width: 2px;
  width: 720px;
}

.card .cardHeader {
  padding: 4px 16px;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  background: #346751;
  color: whitesmoke;
}

.card .cardHeader.contentCollapsed {
  margin-bottom: 0;
}

.card .cardBody {
  text-align: left;
  padding: 8px;
}

.card .cardButtons{
  display: flex;
  width: 100%;
  margin-top: 8px;
}

.card .cardButtons a {
  width:50%;
  background-color: #ECDBBA;
  color: #161616;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 0 0 5px 5px;
  text-decoration: none;
  height: 40px;
  text-align: center;
}

.card .cardButtons a:first-child{
  background-color: #C84B31;
  color: whitesmoke;
  border-radius: 0 0 0 5px;
}

.card .cardButtons a:only-child {
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.dateRangeNavigator {
  font-size: 2em;
  justify-content: center;
}

.dateRangeNavigator > div:first-child {
  margin-right: 40px;
}

.dateRangeNavigator > div:last-child {
  margin-left: 40px;
}

.collapsed, .hidden {
  display: none;
}

.subscript {
  font-size: .5em;
}

.center {
  text-align: center;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.pageContainer {
  margin: 32px 128px;
}

.form div:not(.formField){
  margin-bottom: 4px;
}

.form div:not(.formField) > label {
  width: 32px;
}

.form div:not(.formField) > input {
  margin-left: 8px;
}

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.formField > input {
  width: 240px;
}

.formField > button {
  margin: 0;
  padding: 0;
}

.toolbox {
  padding-left: 64px;
}

.board {
  width: 100%;
  max-width: 2200px;
  max-height: 1000px;
  margin: 64px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  overflow: auto;
  z-index: 4;
}

.boardColumn {
  display: block;
}

.mapSquare {
  height: 80px;
  width: 80px;
  border: .5px solid grey;
  padding: .5px;
  z-index: 5;
}

.mapSquareSelected {
  border-color: yellow;
  background-color: honeydew;
}

.token {
  border-radius: 100%;
  background-color: darkgray;
  height: 76px;
  width: 76px;
  z-index: 10;
}

.token > img{
  height: 75px;
  width: 75px;
  z-index: 15;
}

.mapToken {
  border: 1px solid transparent;
  z-index: 9;
}

.mapToken.selected {
  border: 1px solid blue;
  background-color: lightgray;
}